@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');


/*--------------------Header-----------------------------------*/

body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

body {
    background-image: url("../images/orange.jpg");
    background-attachment: fixed;
}

header {
    background-color: #35424a;
    height: auto;
    
}




/*--------------------Navbar-----------------------------------*/

nav ul {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 90px;
}

nav li {
   display: inline-table;
   padding-left: 80px;
   padding-right: 10px;
   
}

nav a {
   text-align: center;
   font-style: italic;
   font-family: "Lobster", sans-serif;
   font-size: 35px; 
   color: #ffffff;
}

nav a:hover {
   text-decoration: none;
    color: #ff851b;
    font-style: normal;
    font-weight: bold;
}


/*--------------------Main Photo-----------------------------------*/


.responsive {
 width: 100%;
 background-attachment: fixed;
 
}
    
  



/*--------------------Newsletter-----------------------------------*/


h2 {
padding-right: 15px;
padding-left: 5px;
padding-bottom: 10px;
font-family: "Lobster", sans-serif;
font-size: 35px;
color: #ffffff;
}



.form-inline { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: #ff851b;
    padding: 10px 10px 10px 15px;
    margin-bottom: 100px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 5px 20px;
  background-color: #35424a;
  border: 1px solid #ddd;
  color: white;
}




.form-inline button:hover {
 cursor: pointer;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}






/*--------------------Background images-----------------------------------*/


.left-img {
    width: 400px;
    height:555px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
 }

.right-img {
    width: 400px;
    height:555px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
 }
 
 .band-info {
     font-family: "Lobster", sans-serif;
     text-align: center;
     margin:20px 0 20px 0;
 }
 
 .main-text {
     font-family: "Poppins", sans-serif;
     text-align: justify;
     padding: 0 75px 75px 75px;
     
 }
 
 
 /*--------------------Music Page-----------------------------------*/
 
 
 .music {
    text-align: center;
    font-family: "Lobster", sans-serif;
    margin-top: 25px;
}





.title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;
    padding-top: 15px;
}



audio {
    margin-bottom: 90px;
    border-color: #FF851B;
    border-bottom-width: 8px;
    border-bottom-style: double;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-color: #35424a;
    border-top-style: double;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-top-width: 8px;
    width:370px;
    height: 70px;
    
}
 




/*--------------------Photo Gallery-----------------------------------*/

  

#service-provide{
    padding: 80px 0;
    color: #333;
}


.col-pic{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    padding-top: 6.5em;
    background: rgba(0, 0, 0, 0.43);


}
.col-pic p{
    color:#fff;
    font-size:1.1em;
    text-transform:uppercase;
    font-family: 'Oxygen-Bold';
}
.col-pic h5{
    color:#fff;
    font-size: 20px;
    text-transform:uppercase;
     font-family: 'roboto slab', sans-serif;
    letter-spacing: 0.25px;
}
.col-pic label{
    width:100px;
    height:2px;
    display:block;
    background:#fff;
    border-radius:10px;
    margin: 0.5em auto;
}

.col-3{
    position:relative;
    margin-bottom:1.5em;
    z-index: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 2.2s ease-in-out;
    -moz-transition: all 2.2s ease-in-out;
    -ms-transition: all 2.2s ease-in-out;
    -o-transition: all 2.2s ease-in-out;
    transition: all 2.2s ease-in-out;

}
.col-3 a img
{
    -webkit-transition: all 2.4s ease-in-out;
    -moz-transition: all 2.4s ease-in-out;
    -ms-transition: all 2.4s ease-in-out;
    -o-transition: all 2.4s ease-in-out;
    transition: all 2.4s ease-in-out;
    height:320px;
    width:100%;
 
}

.col-3 a
{
    display: block;
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.col-3 a:hover img
{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.col-3:hover .col-pic
{
    background:rgba(0, 0, 0, 0.59);
}

.padcol {
   padding-left: 25px;
    padding-right: 6px;
    margin-top: 25px;
    padding-bottom: 0px;
}
.margright
{
    margin-right: -2px;
}


/*--------------------Video Gallery-----------------------------------*/




/*---------------------Contact-----------------------------------*/

.enquiry {
  text-align: center;
  font-family: "Lobster", sans-serif;
  margin-top: 25px;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

form {
    margin-bottom: 110px;
}



/*--------------------Footer-----------------------------------*/


footer {
    
    height: 100px;
    background-color: #FF851B;
    
    
}

.list-inline {
    text-align: center;
    padding: 25px 25px 25px 25px;
}  
.list-inline i:hover {
    opacity: 0.7;
}
    


.fa-facebook {
  background: #3B5998;
  color: white;
  height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}



.fa-youtube {
  background: #bb0000;
  color: white;
   height: 32px;
  width: 32px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}