@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Poppins:100,200,300,400,500,600,700|Lobster:100,200,300,400,500,600,700');


/*--------------------Header-----------------------------------*/

body {
   margin: 0;
   padding: 0;
}


header {
    background-color: #35424a;
    
}

/*--------------------Navbar-----------------------------------*/

nav li {
   display: inline-block;
   text-align: center;
}